/* Estilos del Formulario */

#container {
    /* display: ; */
    width: 100vh;
    position: absolute;
    /* justify-content: center; */
    align-items: center;
    height: 80vh;
    z-index: 100;
    top: 40%;
    left: 36%;
    display: none;
}

#container #overlay {
    width: 200%;
    height: 200%;
    position: fixed;
    background-color: wheat;
    opacity: 0.2;
    z-index: -1;
    top: 0;
    left: 0;
    /* No mostrar el blur de desenfocado */
    display: block;  
}

#container #registrationForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: rgb(35, 59, 12);
    z-index: 20;
    border-radius: 10px;
}
#container #registrationForm #close-tag {
    display: block;
    position: absolute;
    background-color: transparent;
    font-size: 34px;
    top: 0;
    right: 340px;
}

#container #registrationForm #close-tag:hover {
    opacity: 0.5;
    cursor: pointer;
}

#container #registrationForm input {
    width: 200px;
    padding: 6.5px;
    border-radius: 8px;
    border: 1px solid transparent;
}
#container #registrationForm span {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
}
#container #registrationForm button {
    padding: 10px;
    margin-top: 18px;
    border-radius: 30px;
    background-color: rgb(101, 166, 41);
    border: 1px solid transparent;
    color: aliceblue;
}
#container #registrationForm button:hover {
    background-color: rgb(2, 131, 15);
    border: 1px solid rgb(58, 138, 46);
    cursor: pointer;
}
@media screen and (max-width: 460px)   {
    #container {
        width: 300px;
        position: absolute;
        align-items: center;
        height: 50vh;
        top: 40%;
        left: 8%;
    }
    #container #overlay {
        width: 100%;
        height: 100%;
    }
    #container #registrationForm {
        width: 300px;
        height: 350px;
    }
    #container #registrationForm h2 {
        font-size: 18px;
    }
    #container #registrationForm input {
        width: 120px;
        padding: 3.5px;
        border-radius: 8px;
        border: 1px solid transparent;
        font-size: 10px;
        margin: 4px 0;
    }
    #container #registrationForm span {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        font-size: 13px;
    }
    #container #registrationForm button {
        padding: 6px 16px;
        margin-top: 12px;
        border-radius: 30px;
        font-size: 10px;
    }
    #container #registrationForm #close-tag {
        display: block;
        position: absolute;
        background-color: transparent;
        font-size: 28px;
        top: 0;
        right: 0;
        margin: 8px;
    }
}
@media screen and (min-width: 460px) and (max-width: 720px){
    #container {
        width: 400px;
        position: absolute;
        align-items: center;
        height: 50vh;
        top: 40%;
        left: 15%;
    }
    #container #overlay {
        width: 100%;
        height: 100%;
    }
    #container #registrationForm {
        width: 400px;
        height: 400px;
    }
    #container #registrationForm h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }
    #container #registrationForm input {
        width: 180px;
        padding: 5.5px;
        border-radius: 8px;
        border: 1px solid transparent;
        font-size: 12px;
        margin: 5px 0;
    }
    #container #registrationForm span {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        font-size: 17px;
    }
    #container #registrationForm button {
        padding: 8px 22px;
        margin-top: 18px;
        border-radius: 30px;
        font-size: 15px;
    }
    #container #registrationForm #close-tag {
        display: block;
        position: absolute;
        background-color: transparent;
        font-size: 32px;
        top: 0;
        right: 0;
        margin: 12px 18px;
    }
}
